@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,body  {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
  overflow-x: hidden;
}


a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* mavin */
@font-face {
	font-family: "mavin";
	src: url("/fonts/MavenPro-Bold.ttf");
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: "openSans";
	src: url("/fonts/MavenPro-Regular.ttf");
	font-weight: normal;
	font-style: normal;
}
/*  Panchang fonts*/
@font-face {
	font-family: "PanchangRegular";
	src: url("/fonts/Panchang-Regular.ttf");
  font-weight: 400;
  /* font-display: swap; */
  font-style: normal;
}

@font-face {
	font-family: "PanchangSemibold";
	src: url("/fonts/Panchang-Semibold.ttf");
  font-weight: 600;
  /* font-display: swap; */
  font-style: normal;
}

@font-face {
	font-family: "PanchangExtrabold";
	src: url("/fonts/Panchang-Extrabold.ttf");
  font-weight: 800;
  /* font-display: swap; */
  font-style: normal;
}

@font-face {
	font-family: "PanchangBold";
	src: url("/fonts/Panchang-Bold.ttf");
  font-weight: 800;
  /* font-display: swap; */
  font-style: normal;
}
/*  */

.react-multi-carousel-dot-list {
  position: relative !important;
}

.react-multi-carousel-dot button {
  border: 1px solid #141FC3;
}

.react-multi-carousel-dot--active button {
  background: #141FC3 !important;
}

.my_grid{
  height: 24rem;
  display: grid;
  grid-template-rows:    repeat(2, 1fr);
}

.inner_grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.rotate{
  animation: spin 5s linear infinite;
}

@keyframes spin {
    100%{
        transform : rotate(360deg)
    }
}

.fade_in {
  animation: fadeIn 1.9s;
}

@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.mixblend:after {
  color: rgb(0,255,255);
  mix-blend-mode: difference;

}

.popup-content {
  border-radius: 10px;
  padding: 0px;
  overflow: hidden;
}

@media print{
  /* body, html, #page-container, .scrollable-page, .ps, .panel {
      height: 100% !important;
      width: 100% !important;
      display: inline-block;
  } */
  @page {
    size: legal;
    /* margin-top: 4in; */
  }
}


.img_landing-container {
  position: relative;
}

.img_landing-container > img {
  position: absolute;
  animation-name: multiple-image-crossfade;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-duration: 12s;
}

.img_landing-container > img:nth-of-type(1) {
  animation-delay: 12s;
}

.img_landing-container > img:nth-of-type(2) {
  animation-delay: 8s;
}

.img_landing-container > img:nth-of-type(3) {
  animation-delay: 4s;
}

.img_landing-container > img:nth-of-type(4) {
  animation-delay: 0s;
}

@keyframes multiple-image-crossfade {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.text-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
          line-clamp: 3;
  -webkit-box-orient: vertical;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* pilotproject button */
/* CSS */
.button-48 {
  appearance: none;
  /* background-color: #FFFFFF; */
  /* border-width: 0; */
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: Clarkson,Helvetica,sans-serif;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1),background-color 100ms cubic-bezier(.694, 0, 0.335, 1),color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.button-48:before {
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: #EBEBEB;
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.button-48:hover:before {
  animation: opacityFallbackIn 0s step-start forwards;
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

/* .button-48:after {
  background-color: #FFFFFF;
} */

.button-48 span {
  z-index: 1;
  position: relative;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.checkMark > li:before {
  content: '✓ ';
  font-size: 25px;
}
